@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <form data-permanent>
                <input type="text" placeholder="Search" class="form-control form-control-sms"/>
            </form>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
