<div class="card">
    <div class="card-body">
        <ul class="list-group">
            @foreach (var evnt in LifeCycleEvents)
            {
                <li class="list-group-item">@evnt</li>
            }
        </ul>
    </div>
</div>

@code {
    private List<string> LifeCycleEvents = new();

    [Parameter]
    public int CounterValue { get; set; }

    protected override void OnInitialized()
    {
        this.LifeCycleEvents.Add("Child: OnInitialized have been called");
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync()
    {
        await Task.Delay(1500);
        this.LifeCycleEvents.Add("Child: OnParametersSetAsync have been called");
    }

    protected override void OnParametersSet()
    {
        this.LifeCycleEvents.Add("Child: OnParametersSet have been called");
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        this.LifeCycleEvents.Add("Child: OnAfterRender have been called");
        base.OnAfterRender(firstRender);
    }
}
