@page "/parent"
<h3>Parent Component</h3>

<_ChildComponent Title="This is child page title 1">
    This is readonly and comes from Render Fragment
</_ChildComponent>

<_ChildComponent Title="This is child page title 2">
</_ChildComponent>

@code {

}
