<div class="alert alert-info m-1">
    @Title
</div>

@if (ChildContent != null)
{
    <div class="alert alert-warning m-1">
        @ChildContent(Title)
    </div>
}

@if (ChildOtherContent != null)
{
    <div class="alert alert-primary m-1">
        @ChildOtherContent(Title)
    </div>
}

<_GrandChildComponent></_GrandChildComponent>

<button type="button" class="btn btn-sm btn-info" @onclick="OnShowButtonClick">Show Message</button>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment<string> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<string> ChildOtherContent { get; set; }

    [Parameter]
    public EventCallback OnShowButtonClick { get; set; }
}
