@if (GrandChildMessage is not null)
{
    <div class="alert alert-danger">
        @GrandChildMessage
    </div>
}

<p class="alert alert-success">Tracking Number: @TrackingNumber</p>


@code {
    [CascadingParameter(Name = "Message")]
    public string? GrandChildMessage { get; set; }

    [CascadingParameter(Name = "TrackingNumber")]
    private string TrackingNumber { get; set; }
}
