@page "/lifecycle"

<PageTitle>Life Cycle</PageTitle>

<h3 class="text-primary">Blazor LifeCycle</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="text-bg-light">
    <_LifeCycleChildComponent></_LifeCycleChildComponent>
    <ul class="list-group">
        @foreach (var evnt in LifeCycleEvents)
        {
            <li class="list-group list-group-item-info">@evnt</li>
        }
    </ul>
</div>

@code {
    private int currentCount = 0;

    private List<string> LifeCycleEvents = new();

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        this.LifeCycleEvents.Add("Parent: OnInitialized have been called");
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        this.LifeCycleEvents.Add("Parent: OnInitializedAsync have been called");
    }
}
